@{
    ViewBag.Title = "Home Page";
   
}
<hr>

<div>
    <div style="">
        <p>
            MVC+MYSQL+EASYUI 当前货位号已经写死，最大货位量为50，测试时请输入合理数字！该项目为物联网项目，需要软硬件共同实现，
            当前为测试阶段，尚未完成。
        <p>
    </div>
    <hr>

    <div style="">
        <p> 大概流程为</p>
        <p> 1.采购入库，填写相应信息，系统根据后台货位数量自动生成入库单，可以手动入库或者模拟货架亮灯入库。</p>
        <p>2.销售出库，填写相应信息，系统根据后台货位数量自动生成出库单，可以手动出库或者模拟货架亮灯出库。</p>
        <p>3.当手动入库自己选择目标货位架，完成后，会进行库存量判断，最大库存量小于当前库存量时触发移库机制。</p>
        <p>4.移库操作在货位表中手动填写。</p>
        <p>5.销售出库后系统自动判断货位架数量，目前最大货位量50，小于5时触发补货机制，自动生成入库单，填满货位架数量。</p>
    </div>
    <hr>
    <div>
        <p>如遇报错等现象请重新进入界面，数值输入时请合理规范输入</p>
        <p>我的微信：hiskyzz</p>
        <div style="float:left"><img src="~/images/wx.jpg" style="width:80%;" /></div>

    </div>
</div>
