
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>1号仓库</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="/Home/仓库1" role="button">查看货位信息</a></p>
        </div>
        <div class="jumbotron">
            <h1>2号仓库</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">

</script>